<a href="https://colab.research.google.com/github/11SyamSM/amikom/blob/main/NLP_Kelompok3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Tugas Kelompok (NLP - Natural Language Processing)**


Mata Kuliah : **Natural Language Processing (NLP)**<br/>
Dosen Pengampu : **Prof. Dr. Ema Utami, S.Si., M.Kom.**<br/>
Tutor : **Ainul Yaqin, M.Kom.**<br/>

---
***Anggota Kelompok 3***

22.55.2292 | Syamsul Syahab Mangun

22.55.2309 | Rizky Adi Nugroho

22.55.2323 | Fariz Zakaria

22.55.2343 | Elsina Novela Waroi

# A). Text Processing (basic)

#  1) Tweets Data

Data Tweets adalah kumpulan informasi yang terkait dengan tweet yang dihasilkan oleh pengguna Twitter. Informasi ini mencakup berbagai jenis data, termasuk teks tweet itu sendiri, tanggal dan waktu pembuatan tweet, lokasi pengguna yang memposting tweet, jumlah retweet dan like yang diterima tweet, hashtag yang digunakan, dan banyak lagi.

#     a).Tweepy

Tweepy adalah sebuah library (pustaka) Python yang memungkinkan  untuk terhubung dan berinteraksi dengan Twitter API. Dengan Tweepy, kita dapat mengembangkan aplikasi Python untuk melakukan berbagai tugas, seperti mengirim tweet, mencari tweet, mengumpulkan data dari Twitter, memonitor trending topic, dan lain-lain.

In [18]:
# %pip install tweepy
import tweepy
import pandas as pd

# Authenticate ke Twitter
auth = tweepy.OAuth2BearerHandler("AAAAAAAAAAAAAAAAAAAAAKp8mQEAAAAA5UF9ETjjVYD2S40qNyUC9arKNq8%3DyUssooEMqupoOqy5y9oiyqPyTFnhEsp4pyI64ilDt5Sz49S18p")

# Buat API object
api = tweepy.API(auth)

#buat dan cari variable Twitter
tweets = api.search_tweets(q="Menpora", count=100)


# Get 10 latest tweets from a user
df = pd.DataFrame(data=[tweet.text for tweet in tweets], columns=['tweets'])

display(df)

                                               tweets
0   RT @txtdrakuntansi: Yang seumur menpora baru s...
1   ooop menpora baru ternyata nepo baby 🤭 https:/...
2   Presiden Joko Widodo (Jokowi) melantik Dito Ar...
3   RT @idextratime: RESMI : Presiden Jokowi menun...
4   Menjadi Menteri termuda, Jokowi minta beberapa...
..                                                ...
95  RT @voaindonesia: Senin hari ini (3/4), Presid...
96  @Tan_Mar3M @jokowi Engga rangkap jabatan, udh ...
97  RT @historia_id: Supeno menjadi menteri Pemban...
98  RT @lirrary: nct dream is 7dream dutyafterscho...
99   seumuran ama Menpora.\nbeda 4 hari.\nbeda nasib.

[100 rows x 1 columns]

#  b). SNScrape

In [10]:
!pip install snscrape

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting snscrape
  Downloading snscrape-0.6.2.20230320-py3-none-any.whl (71 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 71.8/71.8 KB 2.7 MB/s eta 0:00:00
Requirement already satisfied: lxml in /usr/local/lib/python3.9/dist-packages (from snscrape) (4.9.2)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.9/dist-packages (from snscrape) (4.11.2)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.9/dist-packages (from snscrape) (2.27.1)
Requirement already satisfied: filelock in /usr/local/lib/python3.9/dist-packages (from snscrape) (3.10.7)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.9/dist-packages (from beautifulsoup4->snscrape) (2.4)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests[socks]->snscrape) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests[socks]->snscrape) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests[socks]->snscrape) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests[socks]->snscrape) (1.26.15)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.9/dist-packages (from requests[socks]->snscrape) (1.7.1)
Installing collected packages: snscrape
Successfully installed snscrape-0.6.2.20230320

In [16]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

# Menentukan kata kunci pencarian
search_words = "psm makassar"

# Menentukan tanggal awal dan akhir pencarian
since_date = "2022-03-01"
until_date = "2022-03-31"

# Membuat query untuk pencarian tweet
query = f'{search_words} since:{since_date} until:{until_date}'

# Membuat list kosong untuk menyimpan tweet
tweets_list = []

# Mengumpulkan tweet dengan SNScrape
for i, tweet in enumerate(sntwitter.TwitterSearchScraper(query).get_items()):
    if i > 1000:  # Batasan jumlah tweet yang diambil
        break
    tweets_list.append([tweet.date, tweet.id, tweet.content, tweet.user.username])

# Membuat dataframe dari list tweet
tweets_df = pd.DataFrame(tweets_list, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])

# Menyimpan dataframe ke dalam file CSV
tweets_df.to_csv('tweets.csv', index=False)

<ipython-input-16-904fc86ae234>:21: DeprecatedFeatureWarning: content is deprecated, use rawContent instead
  tweets_list.append([tweet.date, tweet.id, tweet.content, tweet.user.username])